body {
background-color: black;
}

h1 {
  size:7em
}
.meat {
  display: none; 
    margin: auto;
  width: 100%;
 
  padding: 10px;
}
.img {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.buttons {
  margin: auto;
 width: 20%;
}
.mute {
  display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    width: 100%;
    }
.mute:hover {
  background-color:#4095c6;
  }
  @media all and (max-width:30em){
.mute {
  display:block;
  margin:0.2em auto;
}
}

.share {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.showbutton {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    width: 100%;
    }
.showbutton:hover{
    background-color:#4095c6;
    }
    @media all and (max-width:30em){
.showbutton{
    display:block;
    margin:0.2em auto;
}
    }